<div mat-dialog-content style="padding: 10px 14px 10px 14px;">
    <p  mat-dialog-content style="padding: 10px 14px 10px 14px;">Are you sure want to delete?</p>
  </div>
  
  <div mat-dialog-actions style="padding: 10px 14px 10px 14px;     justify-content: end;">
    
    <button type="button" class="btn mx-2 px-3" style="padding: 3px; " color="primary" (click)="onConfirm()">Yes</button>
    <button type="button" class="btn mx-2 px-3" style="padding: 3px;" (click)="onDismiss()">No</button>
  </div>

